body,html{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

#starter{
  background-color: #b3ccff;
  color: #095a55;
  padding: 2vh;
}
.l_item{
  padding: 1rem 0; 
}
.submit_form{
  padding: 1rem 0; 
}
.sb-btn{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#pet_icon{
  height: 20vh;
}

/* card */
.card-container-title{
background-color: white;
}
.card-image{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.social-icon {
  margin: 20px 10px;
}
#footer {
  text-align: center;
}

